* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

body {
  width: 50vw;
  margin: 0 auto;
  background-color: #222222; }
  body h1 {
    margin-top: 16px;
    margin-bottom: 16px;
    font-family: 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 32px;
    color: #D0CFCD;
    font-weight: bold; }

table {
  border-collapse: collapse;
  border-spacing: 0;
  table-layout: fixed; }
  table td {
    border: 1px solid #222222;
    min-width: 15px;
    height: 15px; }

tr:first-child td:first-child {
  border-top-left-radius: 8px; }

tr:first-child td:last-child {
  border-top-right-radius: 8px; }

tr:last-child td:first-child {
  border-bottom-left-radius: 8px; }

tr:last-child td:last-child {
  border-bottom-right-radius: 8px; }

.on button {
  border-radius: 8px;
  background-color: #54565A;
  width: 33px;
  height: 33px;
  position: relative;
  z-index: 1;
  bottom: 673px;
  left: 16px; }

.on button:hover {
  background-color: #222222; }

.on .alive {
  background-color: #000F9F; }

.on .dead {
  background-color: #D0CFCD; }

.off button {
  border-radius: 8px;
  background-color: #000F9F;
  width: 33px;
  height: 33px;
  position: relative;
  z-index: 1;
  bottom: 673px;
  left: 16px; }

.off .alive {
  background-color: #54565A; }

.off .dead:hover {
  background-color: #98989A; }

.off .dead {
  background-color: #D0CFCD; }
