* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

body {
  background-color: #222;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  padding-top: 64px; }
  body table {
    border-collapse: collapse;
    border-spacing: 0; }
    body table td {
      border: 1px solid #222;
      width: 15px;
      height: 15px; }

tr:first-child td:first-child {
  border-top-left-radius: 16px; }

tr:first-child td:last-child {
  border-top-right-radius: 16px; }

tr:last-child td:first-child {
  border-bottom-left-radius: 16px; }

tr:last-child td:last-child {
  border-bottom-right-radius: 16px; }

.on button {
  background-color: #8C827A;
  width: 33px;
  height: 33px;
  border-radius: 8px;
  position: relative;
  z-index: 1;
  bottom: 513px;
  left: 16px; }

.on .alive {
  background-color: #000F9F; }

.on .dead {
  background-color: #CBC3BB; }

.off button {
  background-color: #000F9F;
  width: 33px;
  height: 33px;
  border-radius: 8px;
  position: relative;
  z-index: 1;
  bottom: 513px;
  left: 16px; }

.off .alive {
  background-color: #8C827A; }

.off .dead:hover {
  background-color: #B5ADA5; }

.off .dead {
  background-color: #CBC3BB; }
