@import "../utils/variables";

* {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

body {
    width: 50vw;
    margin: 0 auto;
    background-color: $pantoneNeutralBlackC;
    h1 {
        margin-top: 16px;
        margin-bottom: 16px;
        font-family: 'Helvetica Neue', Helvetica, sans-serif;
        font-size: 32px;
        color: $pantoneCoolGray2C;
        font-weight: bold;
    }
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    table-layout: fixed;
    td {
        border: 1px solid $pantoneNeutralBlackC;
        min-width: 15px; 
        height: 15px;
    }
}

// Table's rounded borders. 

tr:first-child {
    td:first-child {
        border-top-left-radius: 8px;
    }
}
tr:first-child {
    td:last-child {
        border-top-right-radius: 8px;
    }
}
tr:last-child {
    td:first-child {
        border-bottom-left-radius: 8px;
    }
}
tr:last-child {
    td:last-child {
        border-bottom-right-radius: 8px;
    }
}

// When is on.

.on {
    button {
        border-radius: 8px;
        background-color: $pantoneCoolGray11C;
        width: 33px; 
        height: 33px;
        position: relative;
        z-index: 1;
        bottom:673px;
        left: $module;
    }
    .alive {
        background-color: $pantoneBlue072C;
    }
    .dead {
        background-color: $pantoneCoolGray2C;
    }
}

// When is off.

.off {
    button {
        border-radius: 8px;
        background-color: $pantoneBlue072C;
        width: 33px; 
        height: 33px;
        position: relative;
        z-index: 1;
        bottom:673px;
        left: $module;
    }
    .alive {
        background-color: $pantoneCoolGray11C;
    }
    .dead:hover {
        background-color: $pantoneCoolGray7C;
    }
    .dead {
        background-color: $pantoneCoolGray2C;
    }
}
