@import "../utils/variables";

* {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

body {
    position: absolute;
	z-index: 1;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
    background-color: $pantoneNeutralBlackC;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    table-layout: fixed;
    td {
        border: 1px solid $pantoneNeutralBlackC;
        min-width: 15px; 
        height: 15px;
    }
}

// Table's rounded borders. 

tr:first-child {
    td:first-child {
        border-top-left-radius: $module;
    }
}
tr:first-child {
    td:last-child {
        border-top-right-radius: $module;
    }
}
tr:last-child {
    td:first-child {
        border-bottom-left-radius: $module;
    }
}
tr:last-child {
    td:last-child {
        border-bottom-right-radius: $module;
    }
}

// When is on.

.on {
    button {
        background-color: $pantoneCoolGray11C;
        width: 33px; 
        height: 33px;
        border-radius: 8px;
        position: relative;
        z-index: 1;
        bottom:513px;
        left: $module;
    }
    .alive {
        background-color: $pantoneBlue072C;
    }
    .dead {
        background-color: $pantoneCoolGray2C;
    }
}

// When is off.

.off {
    button {
        background-color: $pantoneBlue072C;
        width: 33px; 
        height: 33px;
        border-radius: 8px;
        position: relative;
        z-index: 1;
        bottom:513px;
        left: $module;
    }
    .alive {
        background-color: $pantoneCoolGray11C;
    }
    .dead:hover {
        background-color: $pantoneCoolGray7C;
    }
    .dead {
        background-color: $pantoneCoolGray2C;
    }
}
